<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.FileUrlMappingMapper">
    <select id="findDiskUrlByVisitUrl" parameterType="String" resultType="String">
        select t.disk_url from t_file_url_mapping t where t.is_valid=1 and t.visit_url=#{visitUrl}
    </select>
</mapper>