<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.FolderTreeMapper">

    <select id="findAllFolder" resultMap="folderMap">
        select * from t_folder_tree t where t.is_valid=1 order by create_time desc
    </select>

    <select id="findFolderByParentId" parameterType="String" resultMap="folderMap">
        select * from t_folder_tree t where t.is_valid=1
        <if test="parentId!=null">
            and t.parent_id=#{parentId}
        </if>
        <if test="creator!=null">
            and t.creator=#{creator}
        </if>
    </select>

    <update id="deleteFolderTreeById" parameterType="String">
        update t_folder_tree t set t.modify_time=(select now()), t.is_valid=0,t.modifier=#{modifier} where t.Id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateLabelById" parameterType="Map">
        update t_folder_tree t set t.modify_time=(select now()),t.label=#{label},t.modifier=#{modifier} where t.Id=#{id}
    </update>

    <resultMap id="folderMap" type="com.entity.FolderTree">
        <result property="id" column="Id"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="isValid" column="is_valid"/>
        <result property="remarks" column="remarks"/>
        <result property="label" column="label"/>
        <result property="parentId" column="parent_id"/>
        <result property="isFolder" column="is_folder"/>
        <result property="fileUrl" column="file_url"/>
        <result property="fileType" column="file_type"/>
    </resultMap>
</mapper>