<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.NoteMapper">
    <select id="findNote" parameterType="com.vo.NoteVo" resultMap="noteMap">
        select * from t_note t where t.is_valid=1
        <if test="id!=null">
            and t.id=#{id}
        </if>

        <if test="creator!=null">
            and t.creator=#{creator}
        </if>

        <if test="createTime!=null">
            and t.create_time=#{createTime}
        </if>

        <if test="noteContent!=null">
            and t.note_content=#{noteContent}
        </if>

        <if test="folderId!=null">
            and t.folder_id=#{folderId}
        </if>
        order by t.create_time
    </select>

    <resultMap id="noteMap" type="com.entity.Note">
        <result property="id" column="id"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="isValid" column="is_valid"/>
        <result property="remarks" column="remarks"/>
        <result property="noteContent" column="note_content"/>
        <result property="folderId" column="folder_id"/>
    </resultMap>

    <update id="updateNote" parameterType="com.vo.NoteVo">
        update t_note t
        <set>
            t.modify_time=(select now()),

            <if test="noteContent!=null">
                t.note_content=#{noteContent},
            </if>

            <if test="folderId!=null">
                t.folder_id=#{folderId},
            </if>

            <if test="remarks!=null">
                t.remarks=#{remarks},
            </if>
        </set>
        where t.is_valid=1 and t.id=#{id}
    </update>

    <update id="deleteNote" parameterType="String">
        update t_note t set t.is_valid=0,t.modify_time=(select now()) where t.id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>