<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.NoteContentMapper">

    <select id="queryNoteInfo" parameterType="String" resultMap="initMap">
        select f.label,n.note_content from t_folder_tree f inner join t_note_content n on f.id=n.file_id and f.id=#{id}
    </select>

    <resultMap id="initMap" type="com.vo.NoteParamVo">
        <result property="label" column="label"/>
        <result property="content" column="note_content"/>
    </resultMap>

    <update id="updateNote" parameterType="Map">
        update t_note_content t set t.modify_time=(select now()), t.note_content=#{content} where t.file_id=#{id}
    </update>
</mapper>